@__font-face { font-family: sans; src: url('DroidSans.ttf'); }

/*RESET...*/
html, body, div, applet, object, iframe, table, caption,
tbody, tfoot, thead, tr, th, td, del, dfn, font, img, ins,
kbd, q, s, samp, strike, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend {
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    outline: 0 none;
    padding: 0;
    margin: 0;
    color: #666666;
    border: 0 none;
    vertical-align: baseline;
}
ins{
        text-decoration:none;
}
th
{
  padding-right: 10px;
}
:focus {
    outline: 0;
}
input{margin:0;}
body {
    background: white;
    line-height: 1.3;
    color: black;
    font-family:  sans, sans-serif, Tahoma, Century Gothic, Helvetica, Arial, Verdana, "Futura Bk";
}
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    font-weight: normal;
    text-align: left;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}
/*...RESET*/

body{
color:#444;
font-family: 'Droid Sans', arial, serif;
}

.main{
position:relative;
width:890px;
margin:auto;
font-size:15px;
text-align:justify;
}

a:hover, a img
{
  text-decoration: none;
}

a{
color: #8181F7;
}
.buttons{
margin:3ex 0;
border-top:1px solid #DDD;
border-bottom:1px solid #DDD;
padding:3px .5em;
}

.buttons a{
display:inline-block;
width:35px;
height:35px;
overflow:hidden;
}

.buttons a:hover{
/*width:auto;*/
}

.buttons a div{
margin:7px 0 0 35px;
white-space:nowrap;
}

.buttons .portada{background:url('/images/frontend/portada.png') center left no-repeat;}
.buttons .prensa{background:url('/images/frontend/prensa.png') center left no-repeat;}
.buttons .noticias{background:url('/images/frontend/noticias.png') center left no-repeat;}
.buttons .planet{background:url('/images/frontend/planet.png') center left no-repeat;}
.buttons .proyectos{background:url('/images/frontend/proyectos.png') center left no-repeat;}
.buttons .bases{background:url('/images/frontend/bases.png') center left no-repeat;}
.buttons .colabora{background:url('/images/frontend/colabora.png') center left no-repeat;}
.buttons .comite{background:url('/images/frontend/comite.png') center left no-repeat;}
.buttons .contacto{background:url('/images/frontend/contacto.png') center left no-repeat;}
.buttons .faq{background:url('/images/frontend/faq.png') center left no-repeat;}
.buttons .final{background:url('/images/frontend/final.png') center left no-repeat;}
.buttons .local{background:url('/images/frontend/local.png') center left no-repeat;}
.buttons .microblog{background:url('/images/frontend/microblog.png') center left no-repeat;}
.buttons .media{background:url('/images/frontend/media.png') center left no-repeat;}

.banner{
margin:20px 0 20px;
display:block;
}

.top{
text-align:right;
background:#DDD;
padding:3px 1em;
}

.top a{
color:#000;
}

#sidebar-right, #sidebar-left{
float:right;
width:210px;
padding:0 1ex 0 1em;
}

#sidebar-left{
float:right;
width:140px;
padding:0 1ex 0 1em;
}

#content{
margin-right:410px;
}

#content h2{
font-size:150%;
padding-top:2ex;
}

h2.title{
border-bottom:1px solid #DDD;
margin-bottom:1ex;
color:#000;
text-align:left;
}

.cuadro{
background:url('i.png') 520px 5px no-repeat #FCFCFC;
padding:5px 5px 1ex 5px;
margin:-5px;
border-radius:3px;
-moz-border-radius:3px;
border:1px solid #EEE;
}

small{
font-size:90%;
}

.foto{
text-align:center;
}

.foto p small{
position:relative;
background:rgba(255,255,255, .8);
margin:-4ex 0 0 0;
padding:.2ex 0;
font-size:80%;
display:block;
text-align:center;
}

.block, .view{
padding-bottom:2ex;
}

/*
.content img{
opacity:.2;
}
*/


img[alt="Foto de la Fase Final del III CUSL"]{
opacity:1;
}

.display{
float:right;
color:#666;
font-size:25px;
font-weight:bold;
}

.loginform{
opacity:1;
background:#EEE;
float:right;
padding:15px;
border-radius:0 0 10px 10px;
-moz-border-radius:0 0 10px 10px;
}

.loginform input{
float:right;
margin:2px 5px 0 5px;
}
.loginform label{
float:left;
margin:2px 5px 0 5px;
}

.loginform .submit{
clear:both;
padding-top:5px;
}

.premioslocales li{
float:left;
border:1px solid #DDD;
margin:5px;
padding:5px;
height:120px;
width:120px;
overflow:hidden;
text-align: center;
vertical-align: middle;
}

.premioslocales img{
margin:auto;
}

#block-block-6{
text-align:center;
}

#block-block-6 img{
max-height:90px;
max-width:90px;
vertical-align:middle;
margin:auto;
}
#footer
{
  background: none repeat scroll 0 #DDDDDD;
  clear: both;
  color: #000000;
  font-size: 11px;
  line-height: 40px;
  text-align: center;
}

h1
{
  font-size: 26px;
  margin-top: 0;
}
p
{
  margin-bottom: 0.9em;
  margin-top: 0.5em;
  text-align: justify;
}

#content.big
{
  font-size: 90%;
  width: 650px;
}
#menu
{
  border-bottom: 1px solid #DDDDDD;
  border-top: 1px solid #DDDDDD;
  height: 35px;
  margin: 3px 0;
  padding: 3px 0.5em;
}
.msg {padding:15px 15px 15px 60px; font-size:120%;}
.msg a:hover {text-decoration:none;}
.msg.msg-warning {background:url("/images/frontend/ico-warning.png") 5px 50% no-repeat;}
.msg.msg-ok {background:url("/images/frontend/ico-ok.png") 5px 50% no-repeat; padding-bottom: 50px;}
.msg.msg-error {background:url("/images/frontend/ico-error.png") 5px 50% no-repeat; padding-bottom: 50px;}

#content li
{
 margin-left: 20px;
}
#content .input-text {border:1px solid #BBB; border-top:1px solid #999; border-left:1px solid #999; vertical-align: top;}

.proyecto table.participantes, .proyecto table.tutor
{
  background-color: #EEEEEE;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 10px;
  width: 100%;
}
.enlaces
{
  padding-bottom: 10px;
}
p
{
  margin-bottom: 0.9em;
  margin-top: 0.5 em;
  text-align: justify;
}
h3
{
  font-size: 130%;
}